In [3]:
from urllib import request
import pandas as pd
import numpy as np
import json
import requests

# Instancio el api_key para AlphaVantage
TOKEN = 'OYDV8S8KFCSH3B35'

# defino la funcion de crypto rank


def cryptoRankk(symbol):
    function = 'CRYPTO_RATING'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'apikey': TOKEN}

    r = requests.get(url, params=parametros)
    return r.json()


data = cryptoRankk('BTC')
print(data)

{}

In [7]:
def quote(symbol):
    function = 'GLOBAL_QUOTE'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'apikey': TOKEN}

    r = requests.get(url, params=parametros)
    js = r.json()['Global Quote']
    df = pd.DataFrame.from_dict(js,orient='index')
    return df


data = quote('AAPL')
#print(json.dumps(data, indent=3, sort_keys=True))

In [8]:
data

                                 0
01. symbol                    AAPL
02. open                  164.4150
03. high                  166.3300
04. low                   162.3000
05. price                 162.4100
06. volume               122848858
07. latest trading day  2022-01-21
08. previous close        164.5100
09. change                 -2.1000
10. change percent        -1.2765%